/* Main css */
body {
    background-image: url('../image/bg-00.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.title {
    position: fixed;
    width: 30%;
    height: 20%;
    top: 10%;
    left: 35%;
}
.butt {
    position: fixed;
    width: 30%;
    height: 20%;
    top: 10%;
    left: 35%;
}



/* Responsive style */

/* medium */
@media only screen and (max-width: 900px) {


    
}

/* Small */
@media only screen and (max-width: 510px) {


    
}

